@font-face {
  font-family: "Swear Display";
  src: url("../assets/fonts/Swear_Display-Cilati.woff") format("woff"),
    url("../assets/fonts/Swear_Display-Cilati.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
